
/* Universal Styles */
body {
    background: #222222;
}

a, a:hover, a:focus {text-decoration:none;}

ul {
	padding-left:15px;
}

nav {
	border-bottom:1px solid #585858;
    text-align:center;
}
nav ul {
	padding:0;
	text-align: center;
}
nav ul li {
	display:block;
	padding:0 15px;
	font-weight:bold;
}

nav ul li a {
	color:#ffffff;
}

h1 {
    background-color:#222222;
    color:#5e5e5e;
    padding:15px;
    font-size:36px;
}

h2 {
    font-size:32px;
    padding: 15px 15px 20px;
}

.flex-container {
	display:flex;
	flex-direction: column;
	align-items:stretch;
	justify-content:center;
	clear: both;
}

#demo {
    color:#fff;
}

main {
	padding:15px;
	background:#1B1B1B;
	color:#fff;
	display: flex; /* Has to be here because of IE */
	flex:2;
	flex-direction:column;
	align-self: center;
}

main p {
	margin: auto;
}

aside {
	padding:25px;
	clear:right;
	background:#5E5E5E;
	display:flex;
	flex:1;
	flex-direction:column;
	justify-content: center;
	height: 50vh;
}

aside h2 {
	color:#1B1B1B;
}

aside ul li a {
	color:#929191;
	font-weight:bold;
	text-decoration:none;
}

aside ul li a:hover {
	color:#1B1B1B;
	text-decoration:none;
}

footer {
	clear: both;
	border-top:1px solid #585858;
}

footer ul {
	padding:0;
	text-align: center;
}

footer ul li {
	display:block;
	padding:15px;
	font-weight:bold;
}

footer ul li a {
	color:#ffffff;
}


/* Home Page Styles */
.work-block {
	background:#000000;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.work-block img {
	padding:15px;
	width:auto;
}

/* About Page Styles */
.caption-txt{
	color:#fff;
	margin-top:5px;
}

/* Project Page Styles */

/* Contact Page Styles */
aside h3 {
    margin-top:0;
}
input, textarea {
    display:block;
    width:100%;
    margin:10px 0;
    padding:5px;
    color: #000;
}
iframe {
    width:100%;
}
.contact-page aside {
    align-items: center;
}
.contact-page aside a {
    color:#fff;
}
.contact-page aside a:hover, .contact-page aside a:focus {
    color:#ccc;
}
.rdo-spn {
    display:inline-block;
    margin:0 10px;
}
.radio-inline {
    padding:0;
}
form {
    display:block;
}
.rdo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[type=checkbox], input[type=radio] {
    display:inline-flex;
    width: auto;
}

/* ---------Bootstrap Page Styles----------------- */
#modal-box {
    background:red;
    margin:0;
    color:#fff;
}
#modal-box a{
    color:#ffffff;
}
#modal-box:hover{
    background:#ffffff;
    color:red;
}
.modal-footer {
    background:#cccccc;
}
#btn-grps {
    background:#444444;
    padding:15px 0;
}
.btn-group a {
    display: block;
    width: 100%;
}
.carousel-inner .item {
    max-height:80vh;
    overflow:hidden;
}
.carousel-inner .item img {
    width:100%;
}
.carousel-caption {
    background:rgba(0,0,0,0.5);
}

main [class*="block-"] {
    width:20vw;
    height:20vh;
}
.second-block {
    background:#cccccc;
    padding: 10px 0;
}
.list-group {
    margin-bottom:0;
}
.block-1, .block-5, .block-9 {
    background:#8E8D8D;
    padding: 10px;
}
.block-2, .block-6, .block-10 {
    background:#595959;
    padding: 10px;
}
.block-3, .block-7, .block-11 {
    background:#646060;
    padding: 10px;
}
.block-4, .block-8, .block-12 {
    background:#2E2A2A;
    padding: 10px;
}
.block-collapse {
    background:#636363;
    padding:15px 0;
}
.block-collapse a {
    color:#2E2A2A;
    font-size:1.4em;
}
.row.no-pad { 
	margin-right:0; 
	margin-left:0;
}
.row.no-pad [class*="col-"] { 
	margin:0;
	padding:0;
}
.tooltip-container {
    background:#dddddd;
}
.tooltip-styles {
    display: flex;
    flex-direction: column;
    margin:0 auto;
    text-align: center;
}
.tooltip-styles li {
    border:1px solid #000;
    padding:10px;
    margin:10px auto;
    width: 100%;
}


/* Media Queries */
@media screen and (min-width: 345px) {
	nav ul li {
        display:inline-block;
    }
	
}


@media screen and (min-width: 600px) {
    footer ul li {
        display:inline-block;
    }
	.flex-container {
        flex-direction: row;
    }
	.work-block {
        flex-direction:row;
    }
	.work-block img {
        max-width: 33%;
    }
	main#projects {
        height:auto;
    }
    .tooltip-styles {
        display:flex;
        align-items:center;
        justify-content:space-around;
        flex-direction: row;
    }
    .tooltip-styles li {
        width: auto;
    }
    .btn-group a {
        display: inline-block;
        width: auto;
    }
}

@media screen and (min-width: 767px) {
	aside.left-aside img {max-width:20vw;}
}

@media screen and (min-width: 768px) {
    .navbar {
        margin-bottom:0;
    }
    .navbar-nav {
        display:inline-block;
        float:none;
        margin-bottom: -5px;
    }
    
}


@media screen and (min-width: 1200px) {
	aside {height: auto;}
	main  {height: auto;align-self: auto;}
}